---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Profile from '@/components/Profile.astro';
import PinnedPost from '@/components/PinnedPost.astro';
import LatestPosts from '@/components/LatestPosts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import { getPinnedPost, getBlogPosts } from '@/lib/blog';

const pinnedPost = await getPinnedPost();
const latestPosts = (await getBlogPosts()).slice(0, 3);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<!-- サイトヘッダーブロック -->
	<div class="bg-white shadow-md text-center py-16 px-4 site-header-block">
		<h1 class="text-2xl font-normal text-gray-700 mb-3">{SITE_TITLE}</h1>
		<p class="text-sm text-gray-700">{SITE_DESCRIPTION}</p>
	</div>

	<!-- 簡易プロフィール -->
	<div class="mt-6">
		<Profile />
	</div>

	<!-- ピン留め記事 -->
	{pinnedPost && <PinnedPost post={pinnedPost} />}

	<!-- 最新の記事 -->
	<LatestPosts posts={latestPosts} />
</BaseLayout>

<style>
	.site-header-block {
		background-image: repeating-linear-gradient(
			to bottom,
			transparent,
			transparent calc(1.25rem - 1px),
			#bae6fd calc(1.25rem - 1px),
			#bae6fd 1.25rem
		);
	}
</style>
